*{
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    box-sizing: border-box;
}

@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

body{
    position: relative;
    min-height: 100vh;
    background: #f0ecec;
}

.wrapper{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff ;
    border-radius: 10px;
    text-align: center;
}
.wrapper h1{
    margin-bottom: 10px;
    padding: 10px 0;
}
.image img{
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    overflow: hidden;
    max-width: 350px;
}
.image img:hover{
    transform: scale(1.03);
}
.input_wrapper input{
    padding: 10px;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 9px;
    outline: none;
    margin: 5px 0;
    
}
.input_wrapper input:focus{
    border-color: rgb(84, 88, 92);
}
.btn{
    padding: 10px;
    border: none;
    background-color: rgb(121, 127, 133);
    color: #fff;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 10px;
}
.btn1{
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}
.btn:hover{
    background-color: rgb(48, 58, 68);
}

.todo{
    text-align: left;
    align-items: center;
    margin-top: 10px;
}

.todo ul li{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 2px 10px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

.todo ul li span{
    flex: 1;
}

.todo ul{
    display: flex;
    flex-direction: column-reverse;
}

.icon{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    position: relative;
    z-index: 77;
}

.btn1:hover{
    transform: scale(1.09);
}

.dltbtn{
    color: red;
}

.editbtn{
    color: blueviolet;
}
.cplttodo{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(184, 12, 12, 0.322);
    border-radius: 5px;
    transition: all 0.5s ease;

    transform: scale(1.02);
    background: #dff6ff;
    padding: 20px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.15);
}

.dlttodo{
   text-decoration: line-through;
}

/* .stodo {
    position: relative;
    padding: 10px;
    background: aliceblue;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
} */

/* .stodo.open {
    transform: scale(1.02);
    background: #dff6ff;
    padding: 20px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.15);
} */


@media(max-width: 400px){
    .wrapper{
        width: 95%;
    }
}